<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog List</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>What do you wana see</h1>
  <a href="/dogs">Dogs</a>
  <a href="/cats">Cats</a>
  <a href="/birds">Birds</a>
 
  </div>
</body>
</html>
